/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS variables */
:root {
    --primary-font: "Funnel Sans", sans-serif;
    --secondary-font: "Funnel Display", sans-serif;
    --primary-color:  #03465dff;
    --secondary-color: #bedde7ff;
    --highlight-color: #76b4caff;
    --highlight-color-light: #0c0c11ff;

}

/* Custom navbar styles */
.navbar {
    background-color: var(--secondary-color);
}

.navbar-brand {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--highlight-color-light);
}

/* Global Styles */

body {
    font-family: var(--primary-font);
    color: var(--highlight-color)
}

h1 {
    font-family: var(--secondary-font);
    color: var(--primary-color)
}

